@charset "UTF-8";

.shop {
  width: 100%;
  height: auto;
}

.shop .shop_ttl h1 {
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  line-height: 70px;
  margin: 5%;
  color: #472E22;
  text-align: center;
}
.shop .shop_ttl h1 small {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}


.shop .access_wrap {
  width: 80%;
  height: auto;
  margin: 0 10% 5% 10%;
  background-color: #EEEAE7;
}

.shop .access_wrap .access_ttl h2 {
  display: flex;
  justify-content: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  padding: 5%;
  color: #472E22;
}

.access_map {
  margin: 0 10% 5% 10%;
}
iframe {
  width: 100%;
  height: 450px;
}

.access_list {
  padding: 0 10% 10%;
}

.txt_item1 h3 {
  font-size: 20px;
  font-weight: bold;
}
.txt_item1 .txt1 {
  margin-left: 20%;
}
.txt_item1 .txt2 {
  margin-left: 22%;
  margin-bottom: 2%;
}
.txt_item1 .txt3 {
  margin-left: 20%;
}
.txt_item1 .txt4 {
  margin-left: 22%;
  margin-bottom: 2%;
}

.txt_item2 h4 {
  font-size: 20px;
  font-weight: bold;
}
.txt_item2 .txt5 {
  margin-left: 20%;
  margin-bottom: 2%;
}
.txt_item2 .txt6 {
  margin-left: 20%;
  margin-bottom: 2%;
}

.txt_item3 h5 {
  font-size: 20px;
  font-weight: bold;
}
.txt_item3 .txt7 {
  line-height: 40px;
  margin-left: 20%;
  margin-bottom: 2%;
}


.contact .contact_wrap {
  width: 80%;
  height: auto;
  margin: 0 10% 10% 10%;
  padding-bottom: 5%;
  background-color: #EEEAE7;
}
.contact_item p {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  padding: 5%;
  color: #472E22;
}

.contact_form {
  width: 80%;
  margin: 0 auto;
}

.contact_box {
  display: flex;
  margin-bottom: 2%;
}

.contact_form_box1 {
  height: 51px;
  width: 69%;
  padding-left: 6px;
  font-size: 15px;
}

.contact_form_box2 {
  height: 45px;
  width: 67%;
  padding-left: 6px;
  font-size: 15px;
}

.contact_box._area {
  margin-bottom: 0;
}

.contact_form_ttl {
  width: 46%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  margin-top: 10px;
}

.contact_textarea {
  width: 67%;
  height: 300px;
  margin-bottom: 100px;
  font-size: 15px;
  padding: 7px;
}

.contact_btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-size: 18px;
  display: block;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.contact_btn:hover {
  background: #E0F9FF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}



@media screen and (max-width: 1024px) {}

@media screen and (max-width: 820px) {
  .shop .shop_ttl h1 {
    font-size: 30px;
    line-height: 35px;
    margin: 5% 2%;
  }
  
  iframe {
    width: 100%;
    height: 100%;
  }
  .contact_textarea {
    width: 67%;
    height: 200px;
    margin-bottom: 100px;
    font-size: 15px;
    padding: 7px;
  }

  .contact_btn {
    width: 100px;
    height: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
  .shop .shop_ttl h1 {
    font-size: 30px;
    line-height: 35px;
    margin: 5% 2%;
  }
  .shop .shop_ttl h1 small {
    font-size: 20px;
    line-height: 25px;
  }
  .shop .access_wrap {
    width: 95%;
    margin: 0 2.5% 5% 2.5%;
    padding-bottom: 3%;
  }
  
  .shop .access_wrap .access_ttl h2 {
    font-size: 20px;
    line-height: 25px;
    padding: 5%;
  }

  .access_map {
    margin: 0 5% 5%;
  }
  iframe {
    width: 100%;
    height: 50%;
  }

  .access_list {
    padding: 0 5%;
  }
  .txt_item1 h3 {
    font-size: 18px;
  }
  .txt_item1 .txt1 {
    margin-left: 20%;
  }
  .txt_item1 .txt2 {
    margin-left: 22%;
    margin-bottom: 2%;
  }
  .txt_item1 .txt3 {
    margin-left: 20%;
  }
  .txt_item1 .txt4 {
    margin-left: 22%;
    margin-bottom: 2%;
  }
  
  .txt_item2 h4 {
    font-size: 18px;
  }
  .txt_item2 .txt5 {
    margin-left: 20%;
    margin-bottom: 2%;
  }
  .txt_item2 .txt6 {
    margin-left: 20%;
    margin-bottom: 2%;
  }
  .txt_item3 h5 {
    font-size: 18px;
    font-weight: bold;
  }
  .txt_item3 .txt7 {
    line-height: 40px;
    margin-left: 20%;
    margin-bottom: 2%;
  }



  .contact .contact_wrap {
    width: 95%;
    margin: 0 2% 5% 2%;
  }
  
  .contact_item p {
    font-size: 20px;
    line-height: 25px;
    padding: 5%;
  }

  .contact .contact_wrap {
    width: 95%;
    margin: 0 2.5% 10% 2.5%;
    padding-bottom: 5%;
    background-color: #EEEAE7;
  }
  
  .contact_item p {
    font-size: 20px;
    line-height: 25px;
    padding: 5%;
  }
  
  .contact_form {
    width: 90%;
  }
  
  .contact_form_box1 {
    height: 31px;
    width: 80%;
    font-size: 14px;
  }
  
  .contact_form_box2 {
    height: 30px;
    width: 75%;
    font-size: 15px;
  }
  
  .contact_form_ttl {
    width: 50%;
    height: 100%;
    font-size: 14px;
  }
  
  .contact_textarea {
    width: 74%;
    height: 200px;
    margin-bottom: 50px;
    font-size: 15px;
  }

  .contact_btn {
    width: 100px;
    height: 30px;
    font-size: 16px;
  }
  
  
}

@media screen and (min-width: 481px) {}
