@charset "UTF-8";

.newmenu {
  width: 100%;
  height: auto;
}


.menu .section_ttl h1 {
  display: inline-block;
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
  color: #472E22;
  margin: 5%;
  text-align: center;
}

.menu .section_ttl small {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}


.menu_wrap {
  width: 80%;
  height: auto;
  margin: 0 10% 10%;
  background-color: #EEEAE7;
  text-align: center;
}

.insta_block {
  width: 25%;
  display: inline-table;
  margin: 5% 2%;
}

.insta_body img {
  width: 250px;
  height: 175px;
}

.insta_body p {
  margin: auto;
  text-align: left;
}

.newmenu_txt {
  font-size: 20px;
  padding: 5%;
}

.newmenu_txt a {
  font-weight: bold;
  color: #53A4FF;
}

.newmenu_txt h3 {
  font-size: 25px;
  font-weight: bold;
  color: #53A4FF;
}


@media screen and (max-width: 1024px) {}

@media screen and (max-width: 820px) {
  .menu .section_ttl h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .newmenu_txt {
    font-size: 18px;
  }
  
  .newmenu_txt h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .menu .section_ttl h1 {
    font-size: 30px;
    line-height: 35px;
    margin: 5% 2%;
  }

  .menu_wrap {
    width: 90%;
    margin: 0 5% 10%;
  }

  .newmenu_txt {
    font-size: 18px;
  }
  
  .newmenu_txt h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 481px) {}